// ion-app._gmaps_cdv_ .nav-decor {
//     background-color: transparent !important;
//    }
page-add-poi {
    #map_canvas {
        height: 98%;
        width: 100%;
    }
    .rowsty {
        background-color: white;
        padding: 10px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .searchbar-md .searchbar-ios{
        
        padding-right: 8px;
        padding-left: 8px;
        padding-top: 0px;
    }
    .select-md {
        /* padding: 13px 8px 13px 16px; */
        padding: 0px !important;
    }
    .select-ios{
        /* padding: 13px 8px 13px 16px; */
        padding: 0px;
    }
    .searchbar-md .searchbar-input 
     {
        padding: 6px 55px;
        border-radius: 2px;
        background-position: left 8px center;
        height: auto;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 3rem;
        color: #141414;
        background-color: #fff;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .searchbar-ios .searchbar-input {
        padding: 6px 55px;
        border-radius: 2px;
        background-position: left 8px center;
        height: auto;
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 3rem;
        color: #141414;
        background-color: #fff;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
    .searchbar-input {
        -moz-appearance: none;
        -ms-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        display: block;
        width: 100%;
        border: 0;
        font-family: inherit;
    }

    ion-select {
        max-width: 60%;
    }
}
