<ion-header>
  <ion-navbar>
    <ion-title>{{ text }} {{ "POI" | translate }}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div id="map_canvas">
    <div style="padding: 10px;">
      <ion-row>
        <ion-col
          col-50
          style="padding-right: 5px; padding-left: 0px; padding-top: 0px; padding-bottom: 0px;"
        >
          <ion-row class="rowsty">
            <ion-label style="padding: 0px; margin: 0px; color: gray;">{{
              "POI Name:" | translate
            }}</ion-label>
            <input
              type="text"
              class="searchbar-input"
              placeholder="Enter POI name"
              name="poi_name"
              [(ngModel)]="poi_name"
            />
          </ion-row>
        </ion-col>
        <ion-col col-50 style="padding: 0px;">
          <ion-row class="rowsty">
            <ion-label style="padding: 0px; margin: 0px; color: gray;">{{
              "Radius:" | translate
            }}</ion-label>
            <input
              type="number"
              class="searchbar-input"
              placeholder="Enter radius"
              name="radius"
              [(ngModel)]="radius"
            />
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
    <div
      style="padding-top: 0px; padding-right: 10px; padding-left: 10px; padding-bottom: 2px;"
      *ngIf="portstemp.length > 0"
    >
      <ion-item style="padding-left: 5px; padding-right: 0px;">
        <ion-label style="padding: 0px; margin: 0px; color: gray;">{{
          "Mapped Vehicles" | translate
        }}</ion-label>
        <ion-select
          multiple
          okText="Okay"
          cancelText="Dismiss"
          [(ngModel)]="mappedveh"
          name="mappedveh"
          (ionChange)="onchangeeev($event)"
        >
          <ion-option
            selected
            *ngFor="let veh of portstemp"
            [value]="veh._id"
            (ionSelect)="onchange(veh)"
            >{{ veh.Device_Name }}</ion-option
          >
        </ion-select>
      </ion-item>
    </div>
    <ion-searchbar
      class="search_bar"
      [(ngModel)]="autocomplete.query"
      (ionInput)="updateSearch()"
      placeholder="Enter a location.."
    >
    </ion-searchbar>
    <ion-list>
      <ion-item
        *ngFor="let item of autocompleteItems"
        (click)="chooseItem(item)"
      >
        {{ item.description }}
      </ion-item>
    </ion-list>
  </div>
</ion-content>
<ion-footer class="footSty">
  <ion-toolbar>
    <ion-row>
      <ion-col
        col-50
        style="text-align: center; border-right: 1px solid white;"
        *ngIf="text == 'Add'"
      >
        <button ion-button clear color="light" (click)="createPOI()">
          {{ "SUBMIT" | translate }}
        </button>
      </ion-col>
      <ion-col
        col-50
        style="text-align: center; border-right: 1px solid white;"
        *ngIf="text != 'Add'"
      >
        <button ion-button clear color="light" (click)="update()">
          {{ "SAVE" | translate }}
        </button>
      </ion-col>
      <ion-col col-50 style="text-align: center">
        <button ion-button clear color="light" (click)="back()">
          {{ "Cancel" | translate }}
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
