<ion-content style="background-color: rgba(0, 0, 0, 0.7);">
    <div class="mainDiv">
        <div class="secondDiv">
            <ion-row>
                <ion-col col-12 text-center>
                    <h5 style="margin-top: -10px;">REPORT PREFERENCE</h5>
                </ion-col>
            </ion-row>
            <ion-list radio-group [(ngModel)]="min_time">
                <ion-item *ngFor="let item of reportArray; let i = index">
                    <ion-label>{{item.name}}</ion-label>
                    <!-- <md-checkbox type="checkbox" [checked]="devStatus.Rstatus"
                        (change)="selectedStatus(i,$event,'rVisibility')"></md-checkbox> -->
                    <ion-checkbox item-end color="gpsc" [checked]="item.Rstatus"
                        (ionChange)="selectedStat(i,$event,'rVisibility')"></ion-checkbox>
                </ion-item>
            </ion-list>
            <ion-row>
                <ion-col col-6>
                    <div style="padding: 5px;"><button ion-button (click)="submit()" color="gpsc" block>Submit</button>
                    </div>

                </ion-col>
                <ion-col col-6>
                    <div style="padding: 5px;"><button ion-button (click)="dismiss()" color="gpsc" block>Dismiss</button>
                    </div>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>